/* CSS file for making grids */
@charset "UTF-8";

/*h1{
	font-size: 100px;
}*/

.grid {
	border:  1px solid black;
	display: grid;
	width: 150px;
	height: 210px;
	grid-template-columns: 30px 30px 30px 30px 30px ;
	grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
	margin: 10px;
}

.grid-item {
	background-color: white;
}

.grid-item-black {
	background-color: black;
}

.grid-item-black:hover{
	background-color: lightpink;
}

