@font-face {
    font-family: 'Quicksand';
    font-weight: 600;
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 300;
}

body {
    font-size: 14px;
    font-family: 'Quicksand';
    font-weight: 300;
    background-color: #CDB4DB;
}

p {
    font-size: 14px;
    line-height: 24px;
}

h3 {
    font-size: 24px;
}

button {
    font-size: 12px;
}


@media (min-width: 1025px) {
    body {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    section {
        font-size: 12px;
    }

}

section a{
    color: #6D6875;
}

#acc3 h3 a:hover{
    color: #CDB4DB;
}

#acc4 h3 a:hover{
    color: #CDB4DB;
}

#acc5 h3 a:hover{
    color: #CDB4DB;
    text-decoration: none;
}

#acc6 p a:hover{
    color: #CDB4DB;
    text-decoration: none;
}

#acc7 p a:hover{
    color: #CDB4DB;
    text-decoration: none;
}

