@keyframes rotateE {
  8% {transform: translate(60px, 0);}
  12% {transform: translate(0, 0);}
  20% {transform: translate(0, 50px);}
  28% {transform: translate(30px, 50px);}
  36% {transform: translate(0, 50px);}
  50%{transform: translate(0, 100px);}
  67%{transform: translate(60px, 100px);}
  83%{transform: translate(0, 100px);}
  100%{transform: translate(0,0);}
}

@keyframes rotateL {
  12.5%{transform: translate(0, 100px);}
  50%{transform: translate(60px, 100px);}
  75%{transform: translate(0, 100px);}
  100%{transform: translate(0,0);}
}

@keyframes rotateM {
  0%{transform: translate(0, 100px);}
  8%{transform: translate(0,0);}  
  20%{transform: translate(30px, 50px);} 
  36%{transform: translate(60px, 0);}
  50%{transform: translate(60px, 100px);} 
  66%{transform: translate(60px, 0);} 
  75%{transform: translate(30px, 50px);}
  85%{transform: translate(0,0);}
  100%{transform: translate(0, 100px);}
}

@keyframes rotateN {
  0%{transform: translate(0, 100px);}
  12.5%{transform: translate(0, 0);}  
  30%{transform: translate(60px, 100px);} 
  50%{transform: translate(60px, 0);} 
  65%{transform: translate(60px, 100px);} 
  80%{transform: translate(0,0);}
  100%{transform: translate(0,100px);}
}

@keyframes rotateT {
  12.5%{transform: translate(60px, 0);}
  25%{transform: translate(30px, 0);}
  50%{transform: translate(30px, 100px);}
  75%{transform: translate(30px, 0);}
  100%{transform: translate(0,0);}
}

@keyframes rotateS {
  0% {transform: translate(60px,20px);}
  10%{transform: translate(30px, 0);}
  20%{transform: translate(0, 20px);}
  30%{transform: translate(60px, 70px);}
  40%{transform: translate(30px, 100px);}
  50%{transform: translate(0, 70px);}
  60%{transform: translate(30px, 100px);}
  70%{transform: translate(60px, 70px);}
  80%{transform: translate(0, 20px);}
  90%{transform: translate(30px, 0);}
  100%{transform: translate(60px,20px);}
}

.container-box {
  height: 200px;
  position: relative;
}

.LetterE {
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 100%;
  background-color: #9DD782;
  top: 20%; 
  left: 11%;
  animation: 
  rotateE 5s linear infinite;
}

.LetterL {
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 100%;
  background-color: #FF73B8;
  top: 20%;
  left: 22%;
  animation: 
  rotateL 5s linear infinite;
}

.LetterE2 {
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 100%;
  background-color: #FFB273;
  top: 20%; 
  left: 33%;
  animation: 
  rotateE 5s linear infinite;
}

.LetterM {
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 100%;
  background-color: #9DD782;
  top: 20%; 
  left: 44%;
  animation: 
  rotateM 5s linear infinite;
}

.LetterE3 {
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 100%;
  background-color: #FF95C9;
  top: 20%; 
  left: 55%;
  animation: 
  rotateE 5s linear infinite;
}

.LetterN {
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 100%;
  background-color: #FFB273;
  top: 20%; 
  left: 66%;
  animation: 
  rotateN 5s linear infinite;
}

.LetterT {
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 100%;
  background-color: #9DD782;
  top: 20%; 
  left: 77%;
  animation: 
  rotateT 5s linear infinite;
}

.LetterS{
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 100%;
  background-color: #FF73B8;
  top: 20%;
  left: 88%;
  animation: 
  rotateS 5s linear infinite;
}

.child {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #FF95C9;
  top: 20%;
  left: 22%;
  z-index: -1;
}

.E{
  top: 20%;
  left: 11%;
  border-color: #9DD782;
}

.E2{
  top: 20%;
  left: 33%;
  border-color: #FFB273;
}

.M{
  top: 20%;
  left: 44%;
  border-color: #9DD782;
}

.E3{
  top: 20%;
  left: 55%;
  border-color: #FF95C9;
}

.N{
  top: 20%;
  left: 66%;
  border-color: #FFB273;
}

.T{
  top: 20%;
  left: 77%;
  border-color: #9DD782;
}

.S{
  top: 20%;
  left: 88%;
  border-color: #FF95C9;
}

#E_two { margin-left: 30px;}
#E_three {margin-left: 30px; margin-top: 50px;}
#E_four {margin-left: 30px; margin-top: 100px;}
#E_five {margin-top: 100px;}
#E_six { margin-top: 50px;}
#E_seven { margin-left: 60px; }
#E_eight { margin-top: 100px; margin-left: 60px;}

#L_two {margin-top: 50px;}
#L_three {margin-left: 30px;margin-top: 100px;}
#L_four {margin-left: 60px; margin-top: 100px;}
#L_five {margin-top: 100px;}

#M_two {margin-top: 50px;}
#M_three {margin-left: 30px;margin-top: 50px;}
#M_four {margin-left: 60px; margin-top: 50px;}
#M_five {margin-top: 100px;}
#M_six {margin-left: 60px;}
#M_seven {margin-top: 100px; margin-left: 60px;}

#T_two {margin-top: 50px; margin-left: 30px;}
#T_three {margin-left: 30px;margin-top: 100px;}
#T_four {margin-left: 60px;}
#T_five {margin-left: 30px;}

#S_one {margin-top: 20px;}
#S_two {margin-left: 30px; margin-top: 50px;}
#S_three {margin-left: 30px;margin-top: 100px;}
#S_four {margin-left: 60px; margin-top: 20px;}
#S_five {margin-left: 30px;}
#S_six {margin-left: 60px; margin-top: 70px;}
#S_seven {margin-top: 70px;}

#seconds {
  font-size: 2em;
  color: #FFB273;
}

#minutes {
  font-size: 2em;
  color: #9DD782;
}

#colon {
  font-size: 2em;
  color: #FF95C9;
}

#text{
  font-size: 1em;
  color: white;
}

