/* CSS file for making grids */
@charset "UTF-8";

/*h1{
	font-size: 100px;
}*/

.grid {
	border:  1px solid black;
	display: grid;
	width: 150px;
	height: 210px;
	grid-template-columns: 30px 30px 30px 30px 30px ;
	grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
	margin: 10px;
	position: relative;
	float: left;
}

.grid-item {
	background-color: #F0F0F0;
}

.grid-item-black {
	background-color: #21325E;
}

.grid-item-black:hover{
	background-color: #3E497A;
}

.grid-item:hover{
	background-color: #F1D00A;
}


.float-container {
	3px solid #fff;
	padding: 20px;
}