@media (min-width: 1025px) {
    .main-header {
        align-items: start;
        justify-content: center;
        border-bottom: none;
        height: 100%;
        width: 30px;
        padding: 23px 0 0;
        box-sizing: border-box;
        z-index: 1;
        position: relative;
    }

    .logo {
        height: 50px;
        width: 100%;
        margin: auto;
    }


    button.home-prompt {
        position: absolute;
        padding: 10px;
        cursor: pointer;
        border: none;
        background-color: #CDB4DB;
        border-radius: 40%;
    }

    .home-prompt:hover{
        background-color: white;

    }

    main {
        position: absolute;
        top: 0;
        left: 200px;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }

    footer{
        display: none;

    }
}