@media (max-width: 1024px) {
    header {
        align-items: center;
        display: flex;
        height: 55px;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
    }

    .main-header {
        background-color: #CDB4DB;
        position: relative;
        z-index: 2;
    }

    button.home-prompt {
        position: absolute;
        padding: 10px;
        cursor: pointer;
        border: none;
        background-color: #CDB4DB;
        border-radius: 40%;
    }

    .logo {
        height: 40px;
        width: 40px;
    }

    .logo img {
        height: 40%;
        width: 40%;
    }

    footer {
        border-top: 1px solid #ffffff;
        padding: 56px 28px;
    }

    footer p {
        margin-bottom: 28px;
    }

